{% extends 'main.html' %}
{% block content %}

<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <!-- App title section -->
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>My Todo-s</u>

            </div>
            {%if user.is_authenticated%}
            <a href="{% url 'logout' %}">Logout</a>
            {%else%}


            <a href="{% url 'login' %}">Login</a>
            {%endif%}

        </div>
    </div>
    <!-- Create todo section -->
    <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <form method="get">


                        <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                               name="search-area" type="text" placeholder="Search .." value="{{search_input}}">

                            <input class="btn btn-primary" type="submit" value='Search'>
                    </form>



                </div>
            </div>
        </div>
    </div>

    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    <!-- View options section -->
    <div class="row m-1 p-3 px-5 justify-content-end">
        <div class="col-auto d-flex align-items-center">
              <div class="col-auto px-0 mx-0 mr-2">
                        <a href="{% url 'task-create' %}">
                            <button type="button" class="btn btn-primary">Add</button>
                        </a>

                    </div>
        </div>

    </div>
    <!-- Todo list section -->
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->
            {% for task in tasks %}
            <div class="row px-3 align-items-center todo-item rounded">
                {% if task.priority == 1 %}

                <div class="todo-indicator bg-warning-yel"></div>
                {% elif task.priority == 0 %}
                <div class="todo-indicator bg-warning-grey"></div>
                {% elif task.priority == 2 %}
                <div class="todo-indicator bg-warning-red"></div>
                {% endif %}

                <div class="col-auto m-40 p-40 d-flex align-items-center">
                    <div class="custom-checkbox custom-control">
                        {% if task.complete == 1 %}
                        <input class="custom-control-input" id={{task.id}} type="checkbox" value="" checked>
                        {% else %}
                        <input class="custom-control-input" id={{task.id}} type="checkbox" value="">

                        {% endif %}
                        <label class="custom-control-label"
                               for={{task.id}}>&nbsp;</label>
                    </div>
                </div>

                <div class="col px-1 m-1 d-flex align-items-center">
                    <a href="{% url 'task-update' task.pk %}"
                       class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3">{{task}}</a>

                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none"
                           value="Renew car insurance"/>
                </div>
                <div class="col-auto m-1 p-0 px-3">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                            <i class="fa fa-hourglass-2 my-2 px-2 text-warning btn" data-toggle="tooltip"
                               data-placement="bottom" title="" data-original-title="Due on date"></i>
                            <h6 class="text my-2 pr-2">{{task.Deadline}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-auto m-1 p-0 todo-actions">
                    <div class="row d-flex align-items-center justify-content-end">
                        <h5 class="m-0 p-0 px-2">
                            <a href="{% url 'task-update' task.pk %}"><i class="fa fa-pencil text-info btn m-0 p-0"
                                                                         data-toggle="tooltip" data-placement="bottom"
                                                                         title="Edit todo"></i></a>
                        </h5>
                        <h5 class="m-0 p-0 px-2">
                            <a href="{% url 'task-delete' task.pk %}"><i class="fa fa-trash-o text-danger btn m-0 p-0"
                                                                         data-toggle="tooltip"
                                                                         data-placement="bottom"
                                                                         title="Delete todo"></i></a>
                        </h5>
                    </div>
                    <div class="row todo-created-info">
                        <div class="col-auto d-flex align-items-center pr-2">
                            <i class="fa fa-info-circle my-2 px-2 text-black-50 btn" data-toggle="tooltip"
                               data-placement="bottom" title="" data-original-title="Created date"></i>
                            <label class="date-label my-2 text-black-50">{{task.created}}</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Todo Item 2 -->


        </div>
    </div>
</div>

{% endblock %}

